.header {
  position: absolute;
  top: 50%; /* zentriert den Button vertikal */
  right: -54%;
  transform: translateY(-50%); /* korrigiert vertikale Zentrierung */
}

.icon-middle-align {
  vertical-align: middle;
}

.text-norm {
  font-weight: bold;
  text-decoration: none;
  color: #1976d2;

  &:hover {
    color: black;
    text-decoration: none;
  }
}
